# .gitignore file for CompFileDate project

# Delphi generated temporary files and directories
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.deployproj
*.~*
__history/
__recovery/

# Project specific items
_build/
Src/AutoGen/
*.res
